# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/.gitkeep

# Lock files
# ---------------

.lock

# Vendor files
# ---------------

/site/plugins/*
!/site/plugins/dreamform-demo
/vendor/*
/kirby/*

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/.gitkeep

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/.gitkeep

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/.gitkeep

# Submissions
# ---------------

/content/forms/*/*
!/content/forms/*/form.txt

# License
# ---------------

/site/config/.license

# Environment
# ---------------

.env